.profile {
  display: inline-block;
  flex-direction: row;
  align-items: baseline;
  padding: 5.3rem;
}

.dev_image {
  max-height: 20rem;
  max-width: 20rem;
  border-radius: 100%;
  border: 2px solid black;
}

.name {
  display: block;
  padding-left: 5.3rem;
  padding-right: 5.3rem;
  padding-top: 1.5rem;
  height: 35px;
  font-size: 25px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.about {
  background-color: rgba(102, 171, 213, 0.5);
}
