.profile_div{
    display: flex;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #353434;
  border-radius: 1.5rem;
  margin: 2rem;
  transition: transform .2s;
  padding: 3rem;
}

.img_div {
    margin: 1rem;
}

.dev_image {
  height: 20rem;
  width: 20rem;
  border-radius: 100%;
}

.name {
  padding-left: 5.3rem;
  padding-right: 5.3rem;
  padding-top: 1.5rem;
  height: 35px;
  font-size: 25px;
  font-weight: bold;
}

.profile:hover {
    transform: scale(1.1);
}

.insta-icon {
    margin-top: 3rem;
}

.insta {
    font-size: 2rem;
}

.insta-link {
    text-decoration: none;
    color: #833AB4;
}

.comment {
    margin-top: 3rem;
}

.comment_txt {
    text-align: center;
}