.nav_div {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #333;
  max-height: 6rem;
}

.nav_div > ul {
  display: inline-flex;
}

ul {
  display: flex;
  float: inline-end;
  margin: 2rem 5rem 2rem 2rem;
}

.cart-icon {
  border-radius: 100%;
  background-color: #ffffffcb;
  padding: 1rem;
  align-items: center;
  max-width: 40px;
  max-height: 40px;
  position: absolute;
  right: -100px;
  top: -1px;
}

.cart-icon:hover {
  background-color: gray;
}

.cart_link > svg {
  margin: 0;
  align-items: center;
  max-width: 40px;
  max-height: 40px;
  position: absolute;
  right: 6px;
  top: 5px;
}

.logo {
  margin: 1rem;
  border-radius: 100%;
  max-width: 60px;
  max-height: 60px;
}

.link_li {
  padding: 0 1rem 0 1rem;
}

.list {
  position: absolute;
  right: 100px;
  top: 10px;
}

.link_li:hover {
  opacity: 0.5;
}

.link_li:hover > .link {
  color: rgb(255, 255, 255);
}

.link {
  text-decoration: none;
  color: #808080;
}

ul {
  list-style-type: none;
}
