.Offer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.offer_div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0 0 0
}

.rightArrow {
  position: absolute;
  right: 20px;
  font-size: 2rem;
}

.leftArrow {
  position: absolute;
  left: 20px;
  font-size: 2rem;
}
